Repository zalando/skipper, pull requests merged in 2019-05, with the labels that each got.

#1030 lifo filters, concept
  docs/operation/operation.md
  docs/reference/filters.md
  filters/builtin/builtin.go
  filters/builtin/redirect.go
  filters/scheduler/doc.go
  filters/scheduler/lifo.go
  filters/scheduler/lifo_test.go
  go.mod
  go.sum
  scheduler/scheduler.go
  scheduler/scheduler_test.go
  skipper.go
  skptesting/benchmark-proxy-lifo-scheduler.sh
  skptesting/benchmark.inc
  skptesting/lb.eskip
Labels: enhancement, ready-to-review

#946 Build/check gosec
  Makefile
  delivery.yaml
  etcd/etcd.go
  etcd/etcdtest/mocketcd.go
  innkeeper/client.go
  proxy/proxy.go
Labels: ready-to-review

#1050 fix #1049: fix potential nil dereference
  filters/apiusagemonitoring/filter.go
Labels: ready-to-review

#1047 feat: provide the first stack trace on filter panic (#1045)
  proxy/proxy.go
  proxy/proxy_test.go
  scheduler/scheduler_test.go
Labels: ready-to-review

#1052 remove log output in tests (#1045)
  proxy/proxy_test.go
Labels: ready-to-review

#1046 add tag= parameter for lightstep plugin
  tracing/tracers/lightstep/lightstep.go
Labels: ready-to-review

#1061 Log important events emitted by LightStep tracer
  tracing/tracers/lightstep/lightstep.go
Labels: ready-to-review

#1062 add config options grpc max buffer and min/max report times
  tracing/tracers/lightstep/lightstep.go
  tracing/tracers/lightstep/lightstep_test.go
Labels: enhancement, ready-to-review, tracing

#1058 tokenin*AnyKV filters should be able to check same keys
  docs/reference/filters.md
  filters/auth/auth.go
  filters/auth/doc.go
  filters/auth/tokeninfo.go
  filters/auth/tokeninfo_test.go
  filters/auth/tokenintrospection.go
  filters/auth/tokenintrospection_test.go
Labels: ready-to-review

#1057 add more operations documentation including tutorial for starters
  docs/img/skipper_application_dashboard.png
  docs/img/skipper_dashboard1.png
  docs/img/skipper_dashboard2.png
  docs/operation/operation.md
  docs/tutorials/operations.md
  mkdocs.yml
Labels: ready-to-review

#1071 add lb annotation to ingress user docs
  docs/kubernetes/ingress-usage.md
Labels: documentation, ready-to-review

#1072 remove dependency
  go.mod
  go.sum
Labels: ready-to-review

#1073 fix JWTPayloadAnyKV should have multi key assignment similar to token*AnyKV filters
  predicates/auth/jwt.go
  predicates/auth/jwt_test.go
Labels: ready-to-review
