Repository zalando/skipper, pull requests merged in 2019-06, with the labels that each got.

#1075 tuple client ratelimit
  docs/reference/filters.md
  docs/tutorials/ratelimit.md
  filters/ratelimit/ratelimit.go
  filters/ratelimit/ratelimit_test.go
  ratelimit/ratelimit.go
  ratelimit/ratelimit_test.go
  ratelimit/registry.go
Labels: enhancement, ready-to-review

#1078 fix source from last predicate
  net/net.go
  net/net_test.go
  predicates/source/source_test.go
Labels: bug, ready-to-review

#1070 Enrich forwardToken filter
  docs/reference/filters.md
  filters/auth/forwardtoken.go
  filters/auth/forwardtoken_test.go
Labels: ready-to-review

#1095 fix: use path from request chain (#1094)
  filters/apiusagemonitoring/filter.go
  filters/apiusagemonitoring/filter_endpointmetrics_test.go
  filters/apiusagemonitoring/testutils_test.go
  predicates/auth/jwt_test.go
Labels: bug, ready-to-review

#1098 support ingress with service type ExternalName
  dataclients/kubernetes/definitions.go
  dataclients/kubernetes/kube.go
  dataclients/kubernetes/kube_test.go
Labels: enhancement, ready-to-review

#1099 feature: unverifiedAuditLog filter with varargs
  filters/log/log.go
  filters/log/log_test.go
Labels: enhancement, ready-to-review

#1100 clarify ratelimit fitler docs
  docs/reference/filters.md
  docs/tutorials/ratelimit.md
Labels: documentation, ready-to-review
