Repository zalando/skipper, pull requests merged in 2020-12, with the labels that each got.

#1623 fix non synced map access in secrets.Registry#GetEncrypter
  secrets/encrypter_test.go
  secrets/registry.go
Labels: ready-for-review

#1621 fix sensitive data in logs found by GH code scanning
  cmd/webhook/admission/admission.go
  ratelimit/ratelimit.go
  ratelimit/redis.go
  ratelimit/swim.go
Labels: ready-for-review

#1615 Adds tests for case-insensitive name parameter of header filters
  filters/builtin/header_test.go
Labels: ready-for-review

#1635 condition already checked before
  dataclients/kubernetes/httpsredirect_test.go
Labels: ready-for-review

#1609 Fully functional OAuth2 grant flow.
  config/config.go
  config/config_test.go
  config/mapflags.go
  config/mapflags_test.go
  docs/reference/filters.md
  docs/tutorials/auth.md
  filters/auth/grant.go
  filters/auth/grant_test.go
  filters/auth/grantcallback.go
  filters/auth/grantclaimsquery.go
  filters/auth/grantclaimsquery_test.go
  filters/auth/grantconfig.go
  filters/auth/grantcookie.go
  filters/auth/grantcookie_test.go
  filters/auth/grantflowstate.go
  filters/auth/grantflowstate_test.go
  filters/auth/grantprep.go
  filters/auth/testdata/authsecret
  go.mod
  go.sum
  skipper.go
Labels: ready-for-review

#1634 Checks request context error before roundtrip error
  proxy/clienttimeout_test.go
  proxy/proxy.go
Labels: ready-for-review

#1633 support HTTP_PROXY, HTTPS_PROXY and NO_PROXY in http clients
  net/httpclient.go
Labels: enhancement, ready-for-review

#1528 Unifies filter template placeholder resolution
  docs/reference/filters.md
  eskip/template.go
  eskip/template_test.go
  filters/builtin/header_test.go
  filters/builtin/headerfilter.go
  filters/builtin/path.go
  filters/builtin/query.go
Labels: ready-for-review

#1622 Fixes absorb(Silent) filter spec name
  filters/diag/absorb.go
  filters/diag/absorb_test.go
Labels: ready-for-review

#1627 Uses io.CopyBuffer for response streaming
  proxy/proxy.go
Labels: ready-for-review

#1616 Adds repeatContent filter
  docs/reference/filters.md
  filters/builtin/builtin.go
  filters/diag/diag.go
  filters/diag/diag_test.go
Labels: ready-for-review

#1636 fix: we leak vars to func scope where if scope is enough
  proxy/proxy.go
Labels: ready-for-review

#1642 fix linter staticcheck -ST1022
  Makefile
  filters/filters.go
  predicates/cookie/cookie.go
  predicates/predicates.go
Labels: ready-for-review

#1630 optimize east-west routes creation
  dataclients/kubernetes/eastwest.go
  dataclients/kubernetes/ingress.go
  dataclients/kubernetes/ingress_test.go
  dataclients/kubernetes/kube_test.go
  dataclients/kubernetes/kubernetestest/fixtures.go
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-1customroute-changedpathmodepathsubtree.eskip
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-1customroute-changedpathmodepathsubtree.kube
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-1customroute-changedpathmodepathsubtree.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-1customroute.eskip
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-1customroute.kube
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-1customroute.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-1filter.eskip
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-1filter.kube
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-1filter.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-2filters.eskip
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-2filters.kube
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-2filters.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-2predicates.eskip
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-2predicates.kube
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-2predicates.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-predicate.eskip
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-predicate.kube
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-predicate.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule.eskip
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule.kube
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-2host-2prule-1customroute.eskip
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-2host-2prule-1customroute.kube
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-2host-2prule-1customroute.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-2host-sameprule-1customroute.eskip
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-2host-sameprule-1customroute.kube
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-2host-sameprule-1customroute.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-3host-1prule-3customroute.eskip
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-3host-1prule-3customroute.kube
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-3host-1prule-3customroute.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-3host-1withoutprule-3customroute.eskip
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-3host-1withoutprule-3customroute.kube
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-3host-1withoutprule-3customroute.yaml
Labels: ready-for-review

#1651 Introduces JWT token parser
  filters/apiusagemonitoring/filter.go
  filters/log/log.go
  jwt/token.go
  jwt/token_test.go
  predicates/auth/jwt.go
Labels: ready-for-review, refactor

#1646 Match ingress to service using endpoints
  dataclients/kubernetes/clusterstate.go
  dataclients/kubernetes/ingress.go
  dataclients/kubernetes/ingress_test.go
  dataclients/kubernetes/ingressdefinitions.go
  dataclients/kubernetes/ingressdefinitions_test.go
  dataclients/kubernetes/kube_test.go
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-1customroute-changedpathmodepathsubtree.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-1customroute.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-1filter.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-2filters.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-2predicates.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule-predicate.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-1host-1prule.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-2host-2prule-1customroute.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-2host-sameprule-1customroute.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-3host-1prule-3customroute.yaml
  dataclients/kubernetes/testdata/ingress/eastwest/ing-with-3host-1withoutprule-3customroute.yaml
  dataclients/kubernetes/testdata/ingress/ingress-data/ing-with-prule-named-port.yaml
  dataclients/kubernetes/testdata/ingress/named-ports/named-ports-multiport.yaml
  dataclients/kubernetes/testdata/ingress/named-ports/named-ports-multiport2.yaml
  dataclients/kubernetes/testdata/ingress/named-ports/named-ports-multiport3.eskip
  dataclients/kubernetes/testdata/ingress/named-ports/named-ports-multiport4.eskip
  dataclients/kubernetes/testdata/ingress/named-ports/named-ports.yaml
  dataclients/kubernetes/testdata/ingress/service-ports/multiple-by-name.eskip
  dataclients/kubernetes/testdata/ingress/service-ports/multiple-by-name.yaml
  dataclients/kubernetes/testdata/ingress/service-ports/multiple-by-value.eskip
  dataclients/kubernetes/testdata/ingress/service-ports/multiple-by-value.yaml
  dataclients/kubernetes/testdata/ingress/service-ports/single-no-name.eskip
  dataclients/kubernetes/testdata/ingress/service-ports/single-no-name.yaml
  dataclients/kubernetes/testdata/ingress/service-ports/single.eskip
  dataclients/kubernetes/testdata/ingress/service-ports/single.yaml
Labels: ready-for-review

#1656 update staticcheck and gosec
  Makefile
  config/config.go
  config/config_test.go
  dataclients/kubernetes/kubernetestest/fixtures.go
  etcd/etcdtest/mocketcd.go
  filters/diag/diag.go
  filters/flowid/standard.go
  filters/flowid/ulid.go
  loadbalancer/algorithm.go
  metrics/codahale.go
  predicates/traffic/traffic.go
  routing/pathgen/pathgen.go
  script/script.go
  skipper.go
Labels: ready-for-review

#1643 Extends templating with request/response placeholders
  docs/reference/filters.md
  eskip/template.go
  eskip/template_test.go
Labels: ready-for-review

#1589 Support multiple files in `-routes-file`
  skipper.go
Labels: ready-for-review

#1566 Implements route backend timeout
  docs/reference/filters.md
  filters/builtin/builtin.go
  filters/builtin/timeout.go
  filters/builtin/timeout_test.go
  filters/filters.go
  proxy/backendtimeout_test.go
  proxy/clienttimeout_test.go
  proxy/context.go
  proxy/proxy.go
Labels: ready-for-review
