Repository zalando/skipper, pull requests merged in 2021-01, with the labels that each got.

#1647 Add grantLogout filter to revoke OAuth2 tokens
  config/config.go
  docs/reference/filters.md
  docs/tutorials/auth.md
  filters/auth/grant_test.go
  filters/auth/grantclaimsquery_test.go
  filters/auth/grantconfig.go
  filters/auth/grantcookie.go
  filters/auth/grantcookie_test.go
  filters/auth/grantlogout.go
  filters/auth/grantlogout_test.go
  skipper.go
Labels: ready-for-review

#1667 Fixes flaky metrics test
  metrics/codehale_test.go
Labels: flakytest, ready-for-review

#1662 Enhances `tracingTag` filter to support template placeholders
  docs/reference/filters.md
  filters/tracing/tag.go
  filters/tracing/tag_test.go
Labels: ready-for-review

#1665 Fixes gosec errors
  Makefile
  _test_plugins/multitype_noop.go
Labels: ready-for-review

#1673 simplify min TLS version lookup
  config/config.go
  config/config_test.go
Labels: ready-for-review

#1671 Refactors flaky ratelimit tests
  proxy/ratelimit_test.go
Labels: flakytest, ready-for-review

#1660 Uses separate secret reader for grant filters
  docs/reference/filters.md
  docs/tutorials/auth.md
  skipper.go
Labels: ready-for-review

#1668 Decouples eskip.Template from filters.FilterContext
  VERSION
  eskip/template.go
  eskip/template_test.go
  filters/builtin/headerfilter.go
  filters/builtin/path.go
  filters/builtin/query.go
  filters/tracing/tag.go
Labels: ready-for-review

#1521 ratelimit cannot be set to 0 rate
  ratelimit/ratelimit.go
  ratelimit/ratelimit_test.go
Labels: ready-for-review

#1666 Fixes flow id tracing tag name
  proxy/tracing.go
  proxy/tracing_test.go
Labels: ready-for-review

#1680 add pkg.go.dev badge
  readme.md
Labels: ready-for-review

#1681 doc: kubectl explain routegroups
  dataclients/kubernetes/deploy/apply/routegroups_crd.yaml
Labels: ready-for-review

#1679 RouteGroup validation webhook docs
  docs/kubernetes/routegroup-validation.md
  mkdocs.yml
Labels: ready-for-review

#1664 fix absolute minimal RG configuration example
  docs/kubernetes/routegroups.md
Labels: ready-for-review

#1678 Fixes flaky ratelimit tests
  proxy/ratelimit_test.go
Labels: ready-for-review

#1689 doc: latest tag was wrong and pitch latest release instead
  docs/kubernetes/ingress-controller.md
Labels: documentation, ready-for-review

#1682 Fixes flaky breaker tests
  proxy/breaker_test.go
Labels: ready-for-review

#1684 add formula with examples on clientRatelimit filter
  docs/reference/filters.md
Labels: ready-for-review

#1670 Closes upgraded connection on copy completion
  proxy/upgrade.go
  proxy/upgrade_test.go
Labels: ready-for-review

#1698 increase visbility for route not found
  proxy/proxy.go
Labels: ready-for-review
