Repository zalando/skipper, pull requests merged in 2021-03, with the labels that each got.

#1731 Adds lua sleep function
  docs/reference/scripts.md
  script/script.go
  script/script_test.go
Labels: ready-for-review

#1738 remove URL tag in ingress span
  proxy/proxy.go
  proxy/tracing_test.go
Labels: ready-for-review, tracing

#1739 update staticcheck
  Makefile
Labels: ready-for-review

#1742 fix lightstep tracer span drop issues
  go.mod
  go.sum
Labels: bug, tracing
