Repository zalando/skipper, pull requests merged in 2023-08, with the labels that each got.

#2492 Fix wrapping errors
  dataclients/kubernetes/definitions/definitions.go
  dataclients/kubernetes/definitions/definitions_test.go
  dataclients/kubernetes/definitions/ingressv1.go
  dataclients/kubernetes/definitions/routegroups.go
  dataclients/kubernetes/definitions/testdata/errorwrapdata/routegroups.json
  go.mod
  go.sum
Labels: Hal fixing a light bulb

#2484 Create `validator` object to give more validation flexibility
  cmd/webhook/admission/admission_test.go
  cmd/webhook/admission/testdata/invalid-rg.json
  cmd/webhook/admission/testdata/rg-with-invalid-eskip-filters-and-predicates.json
  cmd/webhook/admission/testdata/rg-with-invalid-eskip-filters.json
  cmd/webhook/admission/testdata/rg-with-invalid-eskip-predicates.json
  cmd/webhook/admission/testdata/rg-with-valid-eskip-filters.json
  cmd/webhook/admission/testdata/rg-with-valid-eskip-predicates.json
  cmd/webhook/admission/testdata/valid-rg.json
  dataclients/kubernetes/definitions/routegroups.go
  dataclients/kubernetes/definitions/routegroupvalidator.go
  dataclients/kubernetes/kubernetestest/fixtures.go
  dataclients/kubernetes/logger_test.go
  dataclients/kubernetes/testdata/routegroups/convert/failing-filter.log
  dataclients/kubernetes/testdata/routegroups/convert/failing-filter.yaml
  dataclients/kubernetes/testdata/routegroups/convert/failing-predicate.log
  dataclients/kubernetes/testdata/routegroups/convert/failing-predicate.yaml
  dataclients/kubernetes/testdata/routegroups/convert/no-catchall-for-failed-route-group.log
  dataclients/kubernetes/testdata/routegroups/convert/single-failing-route-makes-the-group-fail.log
Labels: enhancement, refactor

#2511 doc: release should contain the multiarch build and remove outdated arm64/armv7 builds
  delivery.yaml
Labels: ready-for-review

#2443 Feature/admission control multi layer support
  filters/shedder/admission.go
  filters/shedder/admission_test.go
Labels: ready-for-review
