Repository zalando/skipper, pull requests merged in 2023-12, with the labels that each got.

#2760 feature: tarpit() filter
  docs/reference/filters.md
  filters/builtin/builtin.go
  filters/diag/tarpit.go
  filters/diag/tarpit_test.go
  filters/filters.go
Labels: minor

#2784 add clusterfuzzlite PR fuzzing.
  .clusterfuzzlite/Dockerfile
  .clusterfuzzlite/build.sh
  .clusterfuzzlite/project.yaml
  .github/workflows/cflite_pr.yaml
Labels: security, github_actions

#2805 update Go dependencies
  go.mod
  go.sum
Labels: dependencies

#2795 Use sync.Map in the endpointregistry
  filters/fadein/fadein.go
  filters/fadein/fadein_test.go
  loadbalancer/algorithm_test.go
  loadbalancer/fadein_test.go
  proxy/fadeintesting_test.go
  routing/endpointregistry.go
  routing/endpointregistry_test.go
  skipper.go
Labels: minor
