Repository zalando/skipper, pull requests merged in 2024-09, with the labels that each got.

#3210 Remove OPA filter `dependency.base` calculation in optional body parsing
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
  filters/openpolicyagent/openpolicyagent.go
Labels: enhancement, optimization, major, performance

#3217 fallback to env variable for oidc,oauth2 client id and secret
  config/config.go
  docs/reference/filters.md
  filters/auth/oidc.go
  skipper.go
Labels: minor

#3207 opa: pass URL query parameters to OPA policy evaluation
  filters/openpolicyagent/internal/envoy/skipperadapter.go
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse_test.go
Labels: bugfix

#3225 filters/auth: cache yaml config
  filters/auth/jwt_metrics.go
  filters/auth/jwt_metrics_test.go
  filters/auth/tokeninfo.go
  filters/auth/yamlconfig.go
  filters/auth/yamlconfig_test.go
Labels: minor, performance

#3234 Add constant cookie name for the OIDC filter
  docs/reference/filters.md
  filters/auth/oidc.go
  filters/auth/oidc_test.go
Labels: major

#3239 predicates/host: add HostAny benchmark
  predicates/host/any_test.go
Labels: minor

#3240 filters/auth: fix assert usage in tokeninfocache tests
  filters/auth/tokeninfocache_test.go
Labels: minor

#3241 filters/auth: release tokeninfo cache mutex earlier
  filters/auth/tokeninfocache.go
  filters/auth/tokeninfocache_test.go
Labels: major

#3247 docs: document single argument variant of `tracingBaggageToTag`
  docs/reference/filters.md
Labels: documentation

#3248 minor: remove unused endpointRegistry field from healthyEndpoints and fadeIn
  proxy/fadein.go
  proxy/fadein_internal_test.go
  proxy/healthy_endpoints.go
  proxy/proxy.go
Labels: minor

#3251 packaging: add opencontainers image labels
  .github/workflows/gh-packages.yaml
  packaging/Dockerfile
  packaging/Makefile
Labels: minor

#3256 github: fix org.opencontainers.image.vendor image label
  .github/workflows/gh-packages.yaml
Labels: minor
