Repository zalando/skipper, pull requests merged in 2024-08, with the labels that each got.

#3160 Facilitate OPA decision correlation with business flows
  docs/tutorials/auth.md
  filters/openpolicyagent/evaluation.go
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
  filters/openpolicyagent/openpolicyagent.go
  filters/openpolicyagent/openpolicyagent_test.go
Labels: bugfix, bug

#3190 staticcheck: fix pipeline errors
  config/config.go
  filters/apiusagemonitoring/spec.go
  filters/tls/pass_client_test.go
  swarm/swarm.go
Labels: minor

#3193 fix: test requires Go version 1.22
  go.mod
Labels: major

#3194 fix: dependabot should update clusterfuzzlite
  .github/dependabot.yml
Labels: bugfix

#3192 proxy: handle invalid chunked requests
  proxy/proxy.go
  proxy/proxy_test.go
  proxy/request_test.go
Labels: minor

#3201 filters/auth: handle trailing question mark in grant flow
  filters/auth/grant_test.go
  filters/auth/grantconfig.go
Labels: bugfix

#3202 feature: add filter that sets a span tag on response status condition
  docs/reference/filters.md
  filters/builtin/builtin.go
  filters/filters.go
  filters/tracing/tag.go
  filters/tracing/tag_test.go
Labels: minor

#3203 options: Add RegisterFilters callback
  skipper.go
  skipper_test.go
Labels: major

#3208 options: test filter registration order
  skipper_test.go
Labels: minor

#3191 Minor improvements to opaServeResponse filter
  filters/openpolicyagent/opaserveresponse/opaserveresponse.go
Labels: minor

#3209 use standard `errors.Join` since we already use go1.22
  dataclients/kubernetes/definitions/definitions.go
  dataclients/kubernetes/definitions/ingressvalidator.go
  dataclients/kubernetes/definitions/routegroupvalidator.go
Labels: minor
