Repository zalando/skipper, pull requests merged in 2024-03, with the labels that each got.

#2961 minor: countPathRoutes function
  dataclients/kubernetes/ingress.go
Labels: minor

#2960 filters/auth: refactor grant test token cookie
  filters/auth/grant_test.go
  filters/auth/grantclaimsquery_test.go
  filters/auth/grantcookie_test.go
  filters/auth/grantlogout_test.go
Labels: minor

#2972 docs: fix list rendering
  docs/tutorials/auth.md
Labels: documentation

#2973 deps: update google.golang.org/protobuf to v1.33.0
  go.mod
  go.sum
Labels: dependencies

#2982 crd: update RouteGroup CRD
  dataclients/kubernetes/deploy/apply/routegroups_crd.yaml
Labels: minor

#2983 Fix (*consistentHash).Apply
  loadbalancer/algorithm.go
  proxy/healthy_endpoints_test.go
Labels: bugfix

#2986 Refactor healthy_endpoints_test.go
  proxy/healthy_endpoints_test.go
Labels: minor

#2994 fix: go fuzzer build
  fuzz/Dockerfile
Labels: minor

#2993 Fix flaky OPA tests
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse_test.go
Labels: bugfix

#2998 Fixed PHC for consistentHash with balance factor
  loadbalancer/algorithm.go
  proxy/healthy_endpoints_test.go
Labels: bugfix
