Repository zalando/skipper, pull requests merged in 2024-01, with the labels that each got.

#2816 update dependencies
  go.mod
  go.sum
Labels: dependencies

#2817 routesrv: fix race in shutdown test
  routesrv/shutdown_test.go
Labels: minor

#2818 Fixed the typo in clusterRatelimit filter docs
  docs/reference/filters.md
Labels: minor

#2796 dataclients/kubernetes: partially create RouteGroup routes on missing service
  dataclients/kubernetes/clusterclient_test.go
  dataclients/kubernetes/routegroup.go
  dataclients/kubernetes/testdata/routegroups/convert/failing-route-groups-ignored.log
  dataclients/kubernetes/testdata/routegroups/convert/missing-service-1-of-2.eskip
  dataclients/kubernetes/testdata/routegroups/convert/missing-service-1-of-2.log
  dataclients/kubernetes/testdata/routegroups/convert/missing-service-1-of-2.yaml
  dataclients/kubernetes/testdata/routegroups/east-west-range/internal-host-error-transforming.log
Labels: bugfix

#2819 refactor: sync.Mutex is fine as value object and needs no initialization
  circuit/ratebreaker.go
  circuit/registry.go
  proxy/fadeintesting_test.go
  secrets/certregistry/certregistry.go
Labels: minor

#2821 Fixed the remaining comments from previous endpointregistry PR
  filters/fadein/fadein.go
  proxy/fadeintesting_test.go
  routing/endpointregistry.go
  routing/endpointregistry_test.go
Labels: minor

#2820 refactor: name mutexes consistently
  circuit/ratebreaker.go
  circuit/registry.go
  filters/diag/diag.go
  loadbalancer/algorithm.go
  proxy/fadeintesting_test.go
  proxy/proxy_test.go
  secrets/certregistry/certregistry.go
Labels: minor

#2822 refactor: name RW mutexes consistently
  filters/auth/jwt_validation.go
  filters/auth/oidc_introspection.go
  proxy/backendtest/backendrecorder.go
  secrets/encrypter.go
Labels: minor

#2801 Open-policy-agent: Insert config labels in opa runtime
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse_test.go
  filters/openpolicyagent/openpolicyagent.go
  filters/openpolicyagent/openpolicyagent_test.go
Labels: minor

#2826 refactor: if-else drop else part
  filters/diag/absorb.go
  proxy/teebody.go
Labels: minor

#2836 Update dependencies
  go.mod
  go.sum
Labels: dependencies, minor

#2827 feature: logBody filter
  docs/reference/filters.md
  filters/builtin/builtin.go
  filters/diag/logbody.go
  filters/diag/logbody_test.go
  filters/filters.go
  go.mod
Labels: minor

#2824 Write normalized scheme and host to routing.Route fields
  filters/fadein/fadein.go
  loadbalancer/algorithm.go
  net/net.go
  net/net_test.go
  routing/datasource.go
Labels: major

#2837 filters/diag/logbody: use correct calculation of bytes left to log
  filters/diag/logbody.go
Labels: minor

#2794 filters/auth: reduce allocations for tokeninfo scope and claims checks
  filters/auth/auth.go
  filters/auth/oidc.go
  filters/auth/tokeninfo.go
  filters/auth/tokeninfo_test.go
Labels: minor

#2839 docs: document SubdomainsToRemove parameter for other two OIDC filters
  docs/reference/filters.md
Labels: minor

#2823 Use endpointregistry in the hotpath
  VERSION
  docs/kubernetes/ingress-controller.md
  filters/fadein/fadein.go
  filters/fadein/fadein_test.go
  loadbalancer/algorithm.go
  loadbalancer/algorithm_test.go
  loadbalancer/fadein_test.go
  proxy/proxy.go
  proxy/proxy_test.go
  proxy/proxytest/proxytest.go
  redis_test.go
  routing/endpointregistry.go
  routing/endpointregistry_test.go
  routing/routing.go
  skipper_test.go
Labels: architectural

#2843 minor: Added OriginalRequest to the filter test utils
  filters/filtertest/filtertest.go
Labels: minor

#2847 routing: avoid allocating new entry in EndpointRegistry.GetMetrics
  routing/endpointregistry.go
Labels: minor

#2849 eskip: add comment test cases for ParsePredicates
  eskip/eskip_test.go
Labels: minor

#2850 fix codeql error
  .github/workflows/codeql-analysis.yml
Labels: bugfix, github_actions

#2851 fix codeql error v2
  .github/workflows/codeql-analysis.yml
Labels: bugfix, github_actions

#2828 feature: io package inspect stream reader
  filters/block/block.go
  filters/block/block_test.go
  filters/block/matcher.go
  io/helper_test.go
  io/read_stream.go
  io/read_stream_test.go
  proxy/proxy.go
Labels: major

#2854 refactor: pkg alias to skpio instead of io
  filters/block/block.go
Labels: minor

#2865 dataclients/kubernetes: do not log route index
  dataclients/kubernetes/clusterclient_test.go
  dataclients/kubernetes/routegroup.go
  dataclients/kubernetes/testdata/routegroups/convert/failing-route-groups-ignored.log
  dataclients/kubernetes/testdata/routegroups/convert/missing-service-1-of-2.log
  dataclients/kubernetes/testdata/routegroups/east-west-range/internal-host-error-transforming.log
Labels: minor

#2855 fix: 2852 unspecified addresses should fail
  net/net.go
  net/net_test.go
Labels: bugfix

#2864 fix logBody to escape unprintable chars.
  filters/diag/logbody.go
  filters/diag/logbody_test.go
Labels: bugfix

#2853 Improve fadeIn CI tests
  loadbalancer/fadein_test.go
Labels: minor

#2867 Make TestFadeIn send number of reqs which is close to predefined constant
  loadbalancer/fadein_test.go
Labels: minor

#2755 eskip: improve lexer performance
  eskip/eskip.go
  eskip/eskip_test.go
  eskip/lexer.go
Labels: major

#2869 Fixed EndpointRegistry.Do method to do nothing for unrelated backend types
  routing/endpointregistry.go
  routing/endpointregistry_test.go
  routing/export_test.go
Labels: minor

#2870 eskip: improve lexer performance 2
  .gitignore
  eskip/eskip_test.go
  eskip/lexer.go
Labels: major

#2872 feature: choose benchmark binary to test local modifications
  skptesting/benchmark-proxy.sh
  skptesting/benchmark.inc
Labels: minor

#2871 eskip: use Predicate instead of matcher
  eskip/eskip.go
  eskip/parser.go
  eskip/parser.y
  eskip/parser_test.go
Labels: minor

#2874 eskip: refactor parsing tests to check error message
  eskip/eskip_test.go
Labels: minor

#2876 eskip: add BenchmarkJsonUnmarshal
  eskip/eskip_test.go
  eskip/json_test.go
Labels: minor, performance

#2825 dataclients/kubernetes: enable network backend address validation
  cmd/webhook/admission/admission_test.go
  dataclients/kubernetes/definitions/routegroupvalidator.go
  dataclients/kubernetes/definitions/testdata/errorwrapdata/errors.log
  dataclients/kubernetes/definitions/testdata/validation/route-with-invalid-backend-with-path.log
Labels: major

#2877 eskip: add gob unmarshal benchmark
  eskip/eskip_test.go
  eskip/gob_test.go
Labels: minor

#2878 Remove GO111MODULE env variable which is required only for Go 1.11
  docs/reference/plugins.md
  packaging/Makefile
  skptesting/run_fadein_test.sh
Labels: minor

#2875 eskip: do not add empty last route id to parse error
  cmd/webhook/admission/admission_test.go
  config/config_test.go
  dataclients/kubernetes/testdata/routegroups/convert/failing-filter.log
  dataclients/kubernetes/testdata/routegroups/convert/failing-predicate.log
  dataclients/kubernetes/testdata/routegroups/convert/no-catchall-for-failed-route-group.log
  dataclients/kubernetes/testdata/routegroups/convert/single-failing-route-makes-the-group-fail.log
  eskip/eskip_test.go
  eskip/lexer.go
  eskip/parser.go
  eskip/parser.y
Labels: minor

#2868 doc: skipper version promise as we did informal in the past
  readme.md
Labels: documentation, minor

#2753 validator: make sure Ingress/RouteGroup doesn't have duplicate hosts
  cmd/webhook/admission/admission_test.go
  cmd/webhook/admission/testdata/ingress/invalid-ingress-with-duplicate-hosts.json
  cmd/webhook/admission/testdata/rg/rg-with-duplicate-hosts.json
  dataclients/kubernetes/definitions/ingressvalidator.go
  dataclients/kubernetes/definitions/routegroupvalidator.go
  dataclients/kubernetes/definitions/testdata/errorwrapdata/errors.log
  dataclients/kubernetes/definitions/testdata/errorwrapdata/routegroups.json
  dataclients/kubernetes/definitions/testdata/validation/route-with-duplicate-hosts.log
  dataclients/kubernetes/definitions/testdata/validation/route-with-duplicate-hosts.yaml
  dataclients/kubernetes/testdata/routegroups/convert/use-unique-hosts.eskip
  dataclients/kubernetes/testdata/routegroups/convert/use-unique-hosts.log
  dataclients/kubernetes/testdata/routegroups/examples/duplicate-host.eskip
  dataclients/kubernetes/testdata/routegroups/examples/duplicate-host.log
Labels: major

#2884 Remove duplicate hostname from ingressValidator
  dataclients/kubernetes/definitions/ingressvalidator.go
Labels: minor

#2757 validator: use ingress validator with dataclient
  dataclients/kubernetes/clusterclient.go
  dataclients/kubernetes/ingress.go
  dataclients/kubernetes/ingressv1.go
  dataclients/kubernetes/testdata/ingressV1/ingress-data/ing-with-invalid-routes-annotation-missing-header-argument.eskip
  dataclients/kubernetes/testdata/ingressV1/ingress-data/ing-with-invalid-routes-annotation-missing-header-argument.log
  dataclients/kubernetes/testdata/ingressV1/ingress-data/ing-with-invalid-routes-annotation-missing-header-argument.yaml
Labels: major

#2634 Decouple fadeIn from loadbalancer
  loadbalancer/algorithm.go
  loadbalancer/algorithm_test.go
  loadbalancer/fadein_test.go
  loadbalancer/locked_source.go
  loadbalancer/locked_source_test.go
  proxy/fadein.go
  proxy/fadein_internal_test.go
  proxy/proxy.go
  skptesting/run_fadein_test.sh
Labels: architectural

#2887 Avoid calling EndpointRegistry.GetMetrics() in filterFadeIn
  proxy/fadein.go
Labels: minor

#2894 proxy: add last route id to the 'max loopbacks reached' error
  proxy/proxy.go
Labels: minor

#2886 minor: refactor fadeIn code
  loadbalancer/algorithm_test.go
  proxy/fadein.go
  proxy/fadein_internal_test.go
  proxy/proxy.go
  routing/routing.go
Labels: minor
