Repository zalando/skipper, pull requests merged in 2024-12, with the labels that each got.

#3328 dataclients/kubernetes: append predicates to routes of Ingress/RouteGroup having specific annotation
  config/config.go
  config/config_test.go
  dataclients/kubernetes/annotations.go
  dataclients/kubernetes/hosts.go
  dataclients/kubernetes/ingress.go
  dataclients/kubernetes/ingress_test.go
  dataclients/kubernetes/ingressv1.go
  dataclients/kubernetes/kube.go
  dataclients/kubernetes/kubernetestest/fixtures.go
  dataclients/kubernetes/routegroup.go
  dataclients/kubernetes/routegroups_test.go
  dataclients/kubernetes/testdata/ingressV1/annotation-predicates/annotation-predicates-with-ew-enabled.eskip
  dataclients/kubernetes/testdata/ingressV1/annotation-predicates/annotation-predicates-with-ew-enabled.kube
  dataclients/kubernetes/testdata/ingressV1/annotation-predicates/annotation-predicates-with-ew-enabled.yaml
  dataclients/kubernetes/testdata/ingressV1/annotation-predicates/annotation-predicates-with-internal-hostname-predicates.eskip
  dataclients/kubernetes/testdata/ingressV1/annotation-predicates/annotation-predicates-with-internal-hostname-predicates.kube
  dataclients/kubernetes/testdata/ingressV1/annotation-predicates/annotation-predicates-with-internal-hostname-predicates.yaml
  dataclients/kubernetes/testdata/ingressV1/annotation-predicates/annotation-predicates-with-internal-hostname.eskip
  dataclients/kubernetes/testdata/ingressV1/annotation-predicates/annotation-predicates-with-internal-hostname.kube
  dataclients/kubernetes/testdata/ingressV1/annotation-predicates/annotation-predicates-with-internal-hostname.yaml
  dataclients/kubernetes/testdata/ingressV1/annotation-predicates/annotation-predicates.eskip
  dataclients/kubernetes/testdata/ingressV1/annotation-predicates/annotation-predicates.kube
  dataclients/kubernetes/testdata/ingressV1/annotation-predicates/annotation-predicates.yaml
  dataclients/kubernetes/testdata/routegroups/annotation-predicates/annotation-predicates-with-ew-enabled.eskip
  dataclients/kubernetes/testdata/routegroups/annotation-predicates/annotation-predicates-with-ew-enabled.kube
  dataclients/kubernetes/testdata/routegroups/annotation-predicates/annotation-predicates-with-ew-enabled.yaml
  dataclients/kubernetes/testdata/routegroups/annotation-predicates/annotation-predicates-with-internal-host-predicates.eskip
  dataclients/kubernetes/testdata/routegroups/annotation-predicates/annotation-predicates-with-internal-host-predicates.kube
  dataclients/kubernetes/testdata/routegroups/annotation-predicates/annotation-predicates-with-internal-host-predicates.yaml
  dataclients/kubernetes/testdata/routegroups/annotation-predicates/annotation-predicates-with-internal-host.eskip
  dataclients/kubernetes/testdata/routegroups/annotation-predicates/annotation-predicates-with-internal-host.kube
  dataclients/kubernetes/testdata/routegroups/annotation-predicates/annotation-predicates-with-internal-host.yaml
  dataclients/kubernetes/testdata/routegroups/annotation-predicates/annotation-predicates.eskip
  dataclients/kubernetes/testdata/routegroups/annotation-predicates/annotation-predicates.kube
  dataclients/kubernetes/testdata/routegroups/annotation-predicates/annotation-predicates.yaml
  skipper.go
Labels: major

#3322 Move testTracer struct in tracingtest package and reuse it
  filters/auth/jwt_metrics_test.go
  filters/scheduler/fifo_test.go
  filters/scheduler/lifo_test.go
  filters/tracing/tag_test.go
  net/httpclient_example_test.go
  net/httpclient_test.go
  proxy/tracing_test.go
  tracing/tracingtest/mocktracer.go
Labels: minor

#3323 docs: add some info about annotations
  docs/kubernetes/ingress-usage.md
Labels: documentation

#3334 dependabot: ingore OPA updates
  .github/dependabot.yml
Labels: minor

#3330 predicates/traffic: deflake TestTrafficSegmentSplit
  predicates/traffic/export_test.go
  predicates/traffic/rand_test.go
  predicates/traffic/segment.go
  predicates/traffic/segment_test.go
Labels: minor

#3341 proxy: always count route lookup failures
  proxy/proxy.go
Labels: minor

#3344 docs: add a note about -proxy-preserve-host flag
  docs/reference/filters.md
Labels: documentation

#3348 docs: add example for tracingTagFromResponseIfStatus
  docs/reference/filters.md
Labels: documentation

#3318 Add more tags to the admissionControl span to increase visibility
  filters/shedder/admission.go
  filters/shedder/admission_test.go
Labels: minor

#3351 dependabot: ignore another OPA dependency update
  .github/dependabot.yml
Labels: minor
