Repository zalando/skipper, pull requests merged in 2024-07, with the labels that each got.

#3136 dependabot: group GoLang dependencies update
  .github/dependabot.yml
Labels: minor

#3141 fix: remove polyfill.io js
  mkdocs.yml
Labels: minor

#3142 docs: running as ingress backend
  docs/kubernetes/ingress-backends.md
Labels: documentation

#3156 fix: unset ports in endpointslices
  dataclients/kubernetes/clusterclient.go
  dataclients/kubernetes/testdata/ingressV1/service-ports-endpointslices/multiple-endpointslices-one-unset.eskip
  dataclients/kubernetes/testdata/ingressV1/service-ports-endpointslices/multiple-endpointslices-one-unset.kube
  dataclients/kubernetes/testdata/ingressV1/service-ports-endpointslices/multiple-endpointslices-one-unset.yaml
  dataclients/kubernetes/testdata/ingressV1/service-ports-endpointslices/single-endpointslices-unset.eskip
  dataclients/kubernetes/testdata/ingressV1/service-ports-endpointslices/single-endpointslices-unset.kube
  dataclients/kubernetes/testdata/ingressV1/service-ports-endpointslices/single-endpointslices-unset.yaml
Labels: bugfix

#3140 feature: httpclient before and after hooks
  net/httpclient.go
  net/httpclient_example_test.go
  net/httpclient_test.go
Labels: minor

#3070 feat: added sigv4 filter
  docs/reference/filters.md
  filters/awssigner/awssigv4/doc.go
  filters/awssigner/awssigv4/httpsigner.go
  filters/awssigner/awssigv4/sigv4.go
  filters/awssigner/awssigv4/sigv4_test.go
  filters/awssigner/internal/cache.go
  filters/awssigner/internal/constants.go
  filters/awssigner/internal/credentials.go
  filters/awssigner/internal/headers.go
  filters/awssigner/internal/hmac.go
  filters/awssigner/internal/time.go
  filters/awssigner/internal/uri.go
  filters/awssigner/internal/utils.go
  filters/filters.go
Labels: minor

#3161 filters/auth: add second login redirect stub placeholder
  docs/reference/filters.md
  filters/auth/grant.go
  filters/auth/grant_test.go
Labels: minor

#3165 docs: fix filter name
  docs/reference/filters.md
Labels: documentation

#3166 .zappr.yaml: configure repository type
  .zappr.yaml
Labels: documentation

#3167 docs/reference/filters: fix typos
  docs/reference/filters.md
Labels: documentation
