Repository zalando/skipper, pull requests merged in 2024-05, with the labels that each got.

#3057 Fix PHC documentation rendering
  docs/operation/operation.md
Labels: minor

#3066 docs: clarify jwtMetrics opt-out logic
  docs/reference/filters.md
Labels: documentation

#3068 doc: remove video tutorial as it was outdated
  docs/tutorials/video-howto-build.md
  mkdocs.yml
Labels: documentation

#3069 config: add yaml flag
  config/yamlflag.go
  config/yamlflag_test.go
Labels: minor

#3065 eskip: remove flowid dependency
  eskip/eskip.go
  etcd/etcd.go
Labels: minor

#3059 phc: add new metric to counter number of unique requests mitigated
  docs/operation/operation.md
  proxy/healthy_endpoints.go
  proxy/healthy_endpoints_test.go
Labels: minor

#3071 phc: refactor testcases
  proxy/healthy_endpoints_test.go
Labels: minor

#3081 Added max-unhealthy-endpoints-ratio cmdline parameter for PHC
  docs/operation/operation.md
  proxy/healthy_endpoints.go
  proxy/healthy_endpoints_test.go
  proxy/proxy.go
  proxy/proxy_test.go
Labels: major

#3085 filters/auth: add tracing tag for jwtMetrics
  filters/auth/jwt_metrics.go
  filters/auth/jwt_metrics_test.go
Labels: major

#3088 doc: fix supported service types
  docs/kubernetes/ingress-usage.md
Labels: documentation

#3084 config: support multiple default filters flag values
  config/defaultfilterflags.go
  config/defaultfilterflags_test.go
Labels: major
