Repository zalando/skipper, pull requests merged in 2024-02, with the labels that each got.

#2903 eskip: copy string token value
  eskip/lexer.go
Labels: minor

#2899 docs: describe additional oauthGrant flags
  docs/reference/filters.md
Labels: documentation, minor

#2904 eskip: copy symbol token value
  eskip/lexer.go
Labels: minor

#2905 feature: comment() filter to comment a given filter chain.
  docs/reference/filters.md
  filters/builtin/builtin.go
  filters/builtin/comment.go
  filters/filters.go
  skipper.go
Labels: minor

#2907 Address vet issues found in Go 1.22
  cmd/webhook/admission/admission.go
  proxy/longpoll_test.go
Labels: minor

#2908 build: fix go1.22 issue with capslock
  .github/workflows/master.yaml
Labels: bugfix, github_actions, minor

#2906 remove deadcode loadbalancer healthchecker
  config/config.go
  loadbalancer/healthchecker.go
  loadbalancer/healthchecker_test.go
  proxy/proxy.go
  skipper.go
Labels: refactor, minor

#2910 filters/builtin: do not allocate filter slice
  filters/builtin/comment.go
Labels: minor

#2913 Revert "build: fix go1.22 issue with capslock"
  .github/workflows/master.yaml
Labels: github_actions, minor

#2838 feat: deduplicate OIDC cookies for subdomains
  filters/auth/oidc.go
Labels: minor

#2914 routesrv: do not log empty routes as error
  routesrv/polling.go
Labels: minor

#2912 Feature: tlsPassClientCertificates filter
  docs/reference/filters.md
  filters/builtin/builtin.go
  filters/filters.go
  filters/tls/pass_client.go
  filters/tls/pass_client_test.go
Labels: minor

#2873 eskip: separate parsing of predicates and filters
  cmd/webhook/admission/admission_test.go
  config/config_test.go
  dataclients/kubernetes/testdata/routegroups/convert/failing-filter.log
  dataclients/kubernetes/testdata/routegroups/convert/no-catchall-for-failed-route-group.log
  eskip/eskip.go
  eskip/eskip_test.go
  eskip/lexer.go
  eskip/parser.go
  eskip/parser.y
  eskip/parser_test.go
Labels: major

#2895 net: use redis 7
  net/redistest/redistest.go
Labels: minor

#2927 net: fix flaky TestRedisClient
  net/redisclient_test.go
Labels: minor

#2919 net/redistest: run redis containers on test network
  net/redistest/network.go
  net/redistest/redistest.go
  redis_test.go
Labels: minor

#2928 proxy/backendtest: fix flaky TestServerShouldCloseWhenAllRequestsAreFulfilled
  proxy/backendtest/backendrecorder_test.go
Labels: minor

#2917 dataclients/kubernetes: change GetEndpointAddresses to return addresses without scheme and port
  VERSION
  dataclients/kubernetes/clusterclient.go
  dataclients/kubernetes/clusterstate.go
  dataclients/kubernetes/endpoints.go
  dataclients/kubernetes/endpointslices.go
  dataclients/kubernetes/endpointslices_test.go
  dataclients/kubernetes/kube.go
  dataclients/kubernetes/kube_test.go
  redis_test.go
  routesrv/redishandler.go
  routesrv/routesrv.go
  routesrv/routesrv_test.go
  skipper.go
Labels: major

#2930 github: disable testcontainers Ryuk
  .github/workflows/master.yaml
  .github/workflows/pr.yaml
Labels: minor

#2932 cdp: disable testcontainers Ryuk
  delivery.yaml
Labels: minor

#2931 build: remove outdated docs hint
  delivery.yaml
Labels: minor

#2936 dataclients/kubernetes: refactor GetEndpointAddresses test
  dataclients/kubernetes/client_test.go
  dataclients/kubernetes/kube_test.go
Labels: minor

#2937 dataclients/kubernetes/kubernetestest: support getting resource by name
  dataclients/kubernetes/kubernetestest/api.go
  dataclients/kubernetes/kubernetestest/api_test.go
Labels: minor

#2938 Created mock tests for ongoing Passive Health Check feature
  proxy/healthy_endpoints_test.go
Labels: minor

#2518 OPA: authorization based on request body
  config/config.go
  config/config_test.go
  docs/reference/filters.md
  filters/filters.go
  filters/openpolicyagent/evaluation.go
  filters/openpolicyagent/internal/envoy/envoyplugin.go
  filters/openpolicyagent/internal/envoy/skipperadapter.go
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest.go
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse_test.go
  filters/openpolicyagent/openpolicyagent.go
  filters/openpolicyagent/openpolicyagent_test.go
  filters/openpolicyagent/response.go
  skipper.go
Labels: major

#2945 Fix Open Policy Agent filter in standalone use
  skipper.go
Labels: bugfix

#2896 Go Benchmark for OPA filters
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
Labels: minor

#2948 docs/reference/filters: fix teeLoopback example
  docs/reference/filters.md
Labels: documentation

#2939 net/redisclient: fix nil pointer dereference
  net/redisclient.go
  net/redisclient_test.go
Labels: minor

#2949 net/redistest: update go-redis client to work with redis:6
  go.mod
  go.sum
  net/redistest/redistest.go
  net/redistest/redistest_test.go
Labels: bugfix

#2950 routesrv: require kubernetes option
  VERSION
  cmd/routesrv/main.go
  redis_test.go
  routesrv/routesrv.go
  routesrv/routesrv_test.go
  routesrv/shutdown_test.go
Labels: breaking change, major

#2940 filters/builtin: minor performance optimization for sanitize in StripQuery Filter
  filters/builtin/stripquery.go
  filters/builtin/stripquery_test.go
Labels: minor

#2954 cmd/skipper: fix version and commit for go install
  cmd/skipper/main.go
Labels: minor

#2888 Passive health checks
  config/config.go
  docs/operation/operation.md
  filters/fadein/fadein_test.go
  loadbalancer/algorithm_test.go
  metricsinit_test.go
  proxy/fadein_internal_test.go
  proxy/healthy_endpoints.go
  proxy/healthy_endpoints_test.go
  proxy/proxy.go
  proxy/proxy_test.go
  proxy/proxytest/proxytest.go
  redis_test.go
  routing/endpointregistry.go
  routing/endpointregistry_test.go
  skipper.go
  skipper_test.go
Labels: architectural

#2955 cmd/skipper: do not show empty commit
  cmd/skipper/main.go
Labels: minor
