Repository zalando/skipper, pull requests merged in 2024-04, with the labels that each got.

#3003 docs: support for mermaid in mkdocs
  docs/img/skipper_with_routesrv.svg
  docs/img/skipper_without_routesrv.svg
  docs/kubernetes/ingress-controller.md
  mkdocs.yml
Labels: documentation, minor

#3005 script: allow storing lua tables into state bag
  docs/reference/scripts.md
  script/script.go
  script/script_test.go
Labels: minor

#3012 update golang.org/x/net to fix osv-scanner finding
  go.mod
  go.sum
Labels: bugfix

#3014 fix: vulnerable dependency go-jose
  filters/auth/oidc_test.go
  go.mod
  go.sum
Labels: bugfix, go

#3013 script: support multiple header values
  docs/reference/scripts.md
  script/script.go
  script/script_test.go
  script/testdata/log_header.lua
Labels: major

#3015 update: vulnerability in transitive dependency oidc filters
  filters/auth/oidc.go
  go.mod
  go.sum
Labels: bugfix

#2953 filters/auth: add grant cookie encoder
  filters/auth/grant.go
  filters/auth/grantcallback.go
  filters/auth/grantconfig.go
  filters/auth/grantcookie.go
  filters/auth/grantcookie_test.go
  filters/auth/grantlogout.go
  skipper.go
Labels: major

#3022 filters/builtin: add annotate filter
  docs/reference/filters.md
  filters/builtin/annotate.go
  filters/builtin/annotate_test.go
  filters/builtin/builtin.go
  filters/filters.go
Labels: minor

#3020 filters/auth: add jwtMetrics
  docs/reference/filters.md
  filters/auth/jwt_metrics.go
  filters/auth/jwt_metrics_test.go
  filters/filters.go
  skipper.go
Labels: minor

#3028 filters/auth: add login redirect stub support
  docs/reference/filters.md
  filters/auth/grant.go
  filters/auth/grant_test.go
Labels: major

#3027 proxy: support configurable metrics
  proxy/metrics_test.go
  proxy/proxy.go
  skipper.go
Labels: major

#3025 filters/auth: implement opt-out support for jwtMetrics
  docs/reference/filters.md
  filters/auth/jwt_metrics.go
  filters/auth/jwt_metrics_test.go
Labels: major

#3036 Added PHC-related logs
  proxy/healthy_endpoints.go
  proxy/proxy.go
  routing/endpointregistry.go
Labels: minor

#3035 phc: add a metric counter for endpoints that opted out before load balancing
  docs/operation/operation.md
  proxy/healthy_endpoints.go
  proxy/healthy_endpoints_test.go
  proxy/proxy.go
Labels: minor

#3034 OPA: Add tracing for outbound http calls
  filters/openpolicyagent/evaluation.go
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse_test.go
  filters/openpolicyagent/openpolicyagent.go
  filters/openpolicyagent/tracing.go
  filters/openpolicyagent/tracing_test.go
  skipper.go
Labels: monitoring, minor

#3039 Specify tracing span kind on creation
  filters/openpolicyagent/tracing.go
  filters/shedder/admission.go
  net/httpclient.go
  proxy/proxy.go
  ratelimit/leakybucket.go
  ratelimit/redis.go
  tracing/tracingtest/testtracer.go
Labels: minor

#3042 config: refactor test defaultConfig
  config/config_test.go
  config/testdata/test.yaml
Labels: minor

#3043 proxy: use proxy tracing setTag helper
  proxy/proxy.go
Labels: bugfix

#3044 filters: deprecate OpenTracing in FilterContext
  filters/filters.go
  filters/openpolicyagent/openpolicyagent.go
  proxy/context.go
Labels: minor

#3045 add span logs for redis spans with error
  ratelimit/redis.go
Labels: minor

#3046 Change condition of PHC to reduce amount of produced logs
  proxy/healthy_endpoints.go
Labels: minor

#3052 filters: update godoc for deprecated FilterContext OpenTracing fields
  filters/filters.go
Labels: documentation

#3053 Add -min-drop-probability cmdline option for the PHC
  docs/operation/operation.md
  metricsinit_test.go
  proxy/healthy_endpoints.go
  proxy/healthy_endpoints_test.go
  proxy/proxy.go
  proxy/proxy_test.go
  routing/endpointregistry.go
  skipper.go
Labels: minor

#3055 filters/auth: extend jwtMetrics opt-out options
  docs/reference/filters.md
  filters/auth/jwt_metrics.go
  filters/auth/jwt_metrics_test.go
Labels: minor
