Repository zalando/skipper, pull requests merged in 2024-06, with the labels that each got.

#3089 metrics: add start label for prometheus counters
  config/config.go
  metrics/metrics.go
  metrics/prometheus.go
  metrics/prometheus_test.go
  skipper.go
Labels: major

#3086 Reduce errors in decision logs that are operational
  filters/openpolicyagent/evaluation.go
  filters/openpolicyagent/internal/envoy/skipperadapter.go
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest.go
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse_test.go
Labels: minor

#3095 build: trim path
  packaging/Makefile
Labels: minor

#3096 OPA: Add decision outcome to span
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest.go
Labels: minor

#3099 docs: cleanup deprecated -lb-healthcheck-interval flag
  docs/kubernetes/deploy/daemonset/daemonset.yaml
  docs/kubernetes/deploy/deployment/deployment.yaml
  docs/tutorials/basics.md
  docs/tutorials/operations.md
  packaging/helm/skipper-aws/templates/skipper/deployment.yaml
Labels: documentation

#3112 routing: log route update id
  routing/datasource.go
  routing/routing.go
Labels: minor

#3113 routing: measure route update latency
  routing/datasource.go
  routing/routing.go
Labels: minor

#3114 doc: mention DCO and what to do in your commit
  CONTRIBUTING.md
Labels: documentation

#3118 OPA: Add response status to control plane traces
  filters/openpolicyagent/tracing.go
  filters/openpolicyagent/tracing_test.go
Labels: minor

#3115 routing: measure CreateFilter latency
  metrics/all_kind.go
  metrics/codahale.go
  metrics/codahale_test.go
  metrics/metrics.go
  metrics/metricstest/metricsmock.go
  metrics/prometheus.go
  routing/datasource.go
  routing/datasource_test.go
  routing/host_test.go
  routing/matcher_test.go
Labels: minor

#3127 config: fix defaultFiltersFlags.String
  config/defaultfilterflags.go
  config/defaultfilterflags_test.go
Labels: minor

#3128 config: fix defaultFiltersFlags yaml test case
  config/defaultfilterflags_test.go
Labels: minor

#3126 filters/auth: add token validator filter
  docs/reference/filters.md
  filters/auth/auth.go
  filters/auth/tokeninfo.go
  filters/auth/tokeninfo_test.go
  filters/filters.go
  skipper.go
Labels: minor

#3129 metrics: register skipper_filter_create_duration_seconds
  metrics/prometheus.go
  metrics/prometheus_test.go
Labels: bugfix

#3123 cmd/skipper: allow exclusion of insecure cipher suites
  config/config.go
  config/config_test.go
  skipper.go
  skipper_test.go
Labels: major

#3132 metrics: refactor prometheus metric registration
  metrics/prometheus.go
Labels: minor
