Repository zalando/skipper, pull requests merged in 2025-02, with the labels that each got.

#3315 Add a test case on input contract validation
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
Labels: minor

#3402 filters/auth: add jwtMetrics benchmark
  filters/auth/jwt_metrics_test.go
Labels: minor

#3403 jwt: reduce heap allocations in jwt.Parse
  jwt/token.go
  jwt/token_test.go
Labels: bugfix, security

#3404 net: use strings.LastIndex to parse header
  net/net.go
  net/net_test.go
Labels: bugfix

#3405 predicates/forwarded: use strings.Index to parse header
  predicates/forwarded/forwarded.go
Labels: bugfix
