Repository zalando/skipper, pull requests merged in 2025-03, with the labels that each got.

#3432 filters/openpolicyagent: Resolve race conditions in OPA filter benchmark tests
  filters/openpolicyagent/opaauthorizerequest/benchmark_test.go
Labels: bugfix

#3434 go.mod: use latest 1.23 version
  VERSION
  go.mod
Labels: dependencies

#3443 dataclients/kubernetes: update RouteGroup CRD
  dataclients/kubernetes/deploy/apply/routegroups_crd.yaml
Labels: minor

#3407 Upgrade to opa v1.0.1
  filters/openpolicyagent/evaluation.go
  filters/openpolicyagent/internal/envoy/envoyplugin.go
  filters/openpolicyagent/opaauthorizerequest/benchmark_test.go
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse_test.go
  filters/openpolicyagent/openpolicyagent.go
  filters/openpolicyagent/openpolicyagent_test.go
  filters/openpolicyagent/tracing.go
  filters/openpolicyagent/tracing_test.go
  go.mod
  go.sum
Labels: dependencies, major

#3458 Add access log formatter
  logging/log.go
  logging/log_test.go
  skipper.go
Labels: minor
