Repository zalando/skipper, pull requests merged in 2025-06, with the labels that each got.

#3524 Benchmark test for split opa policy and data bundles
  filters/openpolicyagent/opaauthorizerequest/benchmark_test.go
  filters/openpolicyagent/opaauthorizerequest/testResources/split-bundles/data/.manifest
  filters/openpolicyagent/opaauthorizerequest/testResources/split-bundles/data/data.json
  filters/openpolicyagent/opaauthorizerequest/testResources/split-bundles/policy/.manifest
  filters/openpolicyagent/opaauthorizerequest/testResources/split-bundles/policy/example.rego
Labels: enhancement, minor

#3506 feat/metrics : add new metrics for measuring skipper latency
  config/config.go
  docs/operation/operation.md
  metrics/all_kind.go
  metrics/codahale.go
  metrics/codahale_test.go
  metrics/metrics.go
  metrics/metricstest/metricsmock.go
  metrics/prometheus.go
  metrics/prometheus_test.go
  proxy/context.go
  proxy/metrics_test.go
  proxy/proxy.go
  proxy/stopwatch.go
  proxy/stopwatch_test.go
  skipper.go
Labels: minor

#3533 fix: go vulnerabilities that lead to broken master build
  go.mod
  logging/log_test.go
  script/script.go
  swarm/swarmtest/swarmtestutil.go
Labels: bugfix

#3514 Enabling OPA AST optimizations in Skipper to store AST values in in-memory store
  config/config.go
  filters/openpolicyagent/opaauthorizerequest/benchmark_test.go
  filters/openpolicyagent/opaauthorizerequest/testResources/data-pre-procesing-visible-impact/data/.manifest
  filters/openpolicyagent/opaauthorizerequest/testResources/data-pre-procesing-visible-impact/data/data.json
  filters/openpolicyagent/opaauthorizerequest/testResources/data-pre-procesing-visible-impact/policy/.manifest
  filters/openpolicyagent/opaauthorizerequest/testResources/data-pre-procesing-visible-impact/policy/example.rego
  filters/openpolicyagent/openpolicyagent.go
  filters/openpolicyagent/openpolicyagent_test.go
  skipper.go
Labels: enhancement, minor, performance, open-policy-agent

#3534 doc: rewrite operations guide for skipper queues
  docs/img/skipper-queues.png
  docs/operation/operation.md
Labels: documentation

#3539 docs: improve clusterRatelimit filter documentation
  docs/reference/filters.md
Labels: documentation

#3531 metrics: add route validation metrics to track processing success/failure rates
  metrics/all_kind.go
  metrics/codahale.go
  metrics/metrics.go
  metrics/metricstest/metricsmock.go
  metrics/prometheus.go
  routing/datasource.go
  routing/datasource_test.go
Labels: minor
