Repository zalando/skipper, pull requests merged in 2025-07, with the labels that each got.

#3549 doc: metrics-flavour args were not clear how to set "both"
  config/config.go
Labels: documentation

#3551 fix: cache apiUsageMonitoring filter creation based on args
  filters/apiusagemonitoring/spec.go
Labels: architectural

#3544 proxy/tracing: loopback spans bugfix
  proxy/proxy.go
  proxy/tracing_test.go
Labels: bugfix

#3543 proxy: add request and response size metrics
  metrics/all_kind.go
  metrics/codahale.go
  metrics/metrics.go
  metrics/metricstest/metricsmock.go
  metrics/prometheus.go
  net/size.go
  net/size_test.go
  proxy/metrics_test.go
  proxy/proxy.go
Labels: major

#3550 metrics: add route validation gauge metrics
  docs/operation/operation.md
  metrics/all_kind.go
  metrics/codahale.go
  metrics/metrics.go
  metrics/metricstest/metricsmock.go
  metrics/prometheus.go
  routing/datasource.go
  routing/datasource_test.go
Labels: monitoring, minor

#3568 chore(deps): optimize dependabot configuration for OPA dependencies
  .github/dependabot.yml
Labels: minor

#3561 Move OPA instance configuration to registry level
  filters/openpolicyagent/opaauthorizerequest/benchmark_test.go
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest.go
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse_test.go
  filters/openpolicyagent/openpolicyagent.go
  filters/openpolicyagent/openpolicyagent_test.go
  skipper.go
Labels: minor

#3569 doc: correct scaling description
  docs/operation/operation.md
Labels: documentation

#3563 fix: Websocket requests fail if case of value in Connection header and case of key in Upgrade header do not match
  proxy/upgrade.go
  proxy/upgrade_test.go
Labels: bugfix

#3574 docs: phc not expermintal anymore
  docs/operation/operation.md
Labels: documentation
