Repository zalando/skipper, pull requests merged in 2025-05, with the labels that each got.

#3491 fix: Copy headers from backend in upgrade proxy
  proxy/upgrade.go
  proxy/upgrade_test.go
Labels: bugfix

#3448 eskipfile: optimize Watch.LoadUpdates
  eskipfile/watch.go
  eskipfile/watch_test.go
Labels: minor, performance

#3498 tracing: set OTel network.peer.address in proxy span
  proxy/proxy.go
  proxy/tracing.go
  proxy/tracing_test.go
Labels: minor

#3504 update the hpa in docs to autoscaling/v2
  docs/kubernetes/deploy/deployment/hpa.yaml
Labels: minor

#3509 install.sh: updated checksum validation
  etcd/install.sh
Labels: minor

#3515 config: enable KubernetesForceService
  config/config.go
Labels: minor
