Repository zalando/skipper, pull requests merged in 2025-01, with the labels that each got.

#3311 oid_introspection: add SetOIDCClaims
  filters/auth/grant.go
  filters/auth/grant_test.go
  filters/auth/oidc_introspection.go
Labels: minor

#3313 Refactor opa filter tests to use specific rules
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse_test.go
Labels: enhancement, minor

#3374 Upgrade to OPA v0.70.0
  filters/openpolicyagent/evaluation.go
  filters/openpolicyagent/openpolicyagent.go
  go.mod
  go.sum
Labels: dependencies

#3375 tracing/tracingtest: deprecate Tracer and Span types
  filters/openpolicyagent/opaauthorizerequest/opaauthorizerequest_test.go
  filters/openpolicyagent/opaserveresponse/opaserveresponse_test.go
  filters/openpolicyagent/openpolicyagent_test.go
  filters/openpolicyagent/tracing_test.go
  filters/tracing/baggagetotag_test.go
  filters/tracing/statebagtotag_test.go
  filters/tracing/tag_test.go
  proxy/tracing_test.go
  redis_test.go
  skipper_test.go
  tracing/tracingtest/mocktracer.go
  tracing/tracingtest/mocktracer_test.go
  tracing/tracingtest/testtracer.go
Labels: bugfix, minor

#3380 eskip: improve invalid predicate arguments error message
  cmd/webhook/admission/admission_test.go
  dataclients/kubernetes/testdata/ingressV1/ingress-data/ing-with-invalid-routes-annotation-missing-header-argument.log
  eskip/eskip.go
  eskip/eskip_test.go
Labels: minor

#3376 dataclients/kubernetes: append filters to routes of Ingress/RouteGroup having specific annotation
  config/config.go
  config/config_test.go
  dataclients/kubernetes/annotations.go
  dataclients/kubernetes/ingress.go
  dataclients/kubernetes/ingress_test.go
  dataclients/kubernetes/ingressv1.go
  dataclients/kubernetes/kube.go
  dataclients/kubernetes/kubernetestest/fixtures.go
  dataclients/kubernetes/routegroup.go
  dataclients/kubernetes/routegroups_test.go
  dataclients/kubernetes/testdata/ingressV1/annotation-filters/annotation-filters-append.eskip
  dataclients/kubernetes/testdata/ingressV1/annotation-filters/annotation-filters-append.kube
  dataclients/kubernetes/testdata/ingressV1/annotation-filters/annotation-filters-append.yaml
  dataclients/kubernetes/testdata/routegroups/annotation-filters/annotation-filters-append.eskip
  dataclients/kubernetes/testdata/routegroups/annotation-filters/annotation-filters-append.kube
  dataclients/kubernetes/testdata/routegroups/annotation-filters/annotation-filters-append.yaml
  skipper.go
Labels: major

#3381 all: re-enable staticcheck rule ST1012
  Makefile
  cmd/eskip/args.go
  cmd/eskip/args_test.go
  cmd/eskip/eskip.go
  cmd/eskip/eskip_test.go
  cmd/eskip/load.go
  cmd/eskip/load_test.go
  cmd/eskip/media.go
  cmd/eskip/media_test.go
  cmd/eskip/readclient.go
  cmd/eskip/writeclient.go
  eskip/eskip.go
  eskip/lexer.go
  eskip/parser.go
  eskip/parser.y
  etcd/etcd.go
  etcd/etcd_test.go
  filters/builtin/compress.go
  filters/builtin/compress_test.go
  packaging/version/version.go
  predicates/source/source.go
Labels: minor

#3382 all: remove unused fields
  net/httpclient.go
  net/redisclient.go
  ratelimit/registry.go
  routesrv/routesrv.go
  secrets/secrettest/secrettest.go
Labels: minor

#3384 docs: clarify Ingress annotations
  docs/kubernetes/ingress-usage.md
Labels: documentation
