Repository zalando/skipper, pull requests merged in 2025-04, with the labels that each got.

#3466 Add context to log entry
  logging/access.go
  logging/access_test.go
Labels: minor

#3467 bugfix - check config file existence for basicAuth filter
  filters/auth/basic.go
  filters/auth/basic_test.go
Labels: bugfix

#3472 filters/jwtMetrics: extend the filter to support validating multiple claim keys
  docs/reference/filters.md
  filters/auth/jwt_metrics.go
  filters/auth/jwt_metrics_test.go
Labels: minor

#3465 Drop skipperOauthOidc cookies in oauthOidc filter
  filters/auth/oidc.go
  filters/auth/oidc_test.go
Labels: major

#3487 go.mod: Upgrade to 1.23.8
  go.mod
Labels: dependencies
