Repository zalando/skipper, pull requests merged in 2025-08, with the labels that each got.

#3583 Revert "chore(deps): optimize dependabot configuration for OPA dependencies (#3568)"
  .github/dependabot.yml
Labels: minor

#3572 OPA JWT token cache configuration
  filters/openpolicyagent/opaauthorizerequest/benchmark_test.go
  filters/openpolicyagent/openpolicyagent.go
  filters/openpolicyagent/openpolicyagent_test.go
Labels: minor, performance

#3590 routing: fix race condition in metric tests
  routing/datasource_test.go
Labels: flakytest, minor

#3600 Optimize: jwt regexp predicates
  predicates/auth/jwt.go
  predicates/auth/jwt_test.go
Labels: optimization, major
